.cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: white;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    align-items: center;
}

.container h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #fff;
}

.inputField{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.inputField label{
    font-weight: bold;
    font-size: 14px;
}

.inputField input{
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
}


form input[name="cadastrar"] {
    margin-top: 1em;
    padding: 0.3em;
    background: #8C0333;
    cursor: pointer;
    color: white;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[name="cadastrar"]:hover{
    letter-spacing: 0.5px;
    background: #7a052e;

}