.home_depoimento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
}

.home_depoimento h1{

    margin-bottom: 0.5em;
    font-size: 2.5em;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

form p{
    margin: 0.3em;
    text-align: center;
    font-weight: bolder;
}
form input[name="nameDepoimento"] {
    width: 30%;
    height: 20px;
}

form input[name="buscarDepoimento"] {
    margin-top: 0.5em;
    padding: 0.4em;
    background: #8C0333;
    cursor: pointer;
    color: white;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 100px;
    height: 35px;
}

form input[name="buscarDepoimento"]:hover {
    letter-spacing: 0.5px;
    background: #7a052e;

}