.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.egresso {
    width: 100%;
}

.egresso h1{
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.depoimento{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimento h1{
    text-align: center;
    font-size: 2em;
    margin: 1em;
}