/*Banner*/
.home_banner{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4em;
    background-image: url("../../img/banner.webp");
    background-size: contain;
}

.home_banner h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: white;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
}

.home_banner p {
    color: white;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Topicos da home*/
.topico {
    font-size: 2.5em;
    padding: .5em;
    text-align: center;
}

/*Egressos*/
.home_egressos{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4em;
    border-top: 1px solid #ccc;
}

.home_egressos_cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 2em 2em;
}

/*Depoimentos*/
.home_depoimentos{
    width: 100%;
    padding: 0 4em;
    border-top: 1px solid #ccc;
}