.depoimento_cards{
    margin-top: 2.5em;
}

.depoimento_cards__image{
    width: 100%;
}

.depoimento_cards__avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.depoimento_cards__content{
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #dbe1e7;
}

.depoimento_cards__title{
    color: #737c84;
    font-size: 21px;
    font-weight: normal;
}

.depoimento_cards__text{
    color: #929da5;
    font-size: 14px;
}