.paragrafo_left_right{
    text-align: justify;
    padding: 1em;
    border: 1px solid black;
    margin-bottom: 2em;
}

.paragrafo_left_right p{
    margin-top: 2em;
}

.img_right{
    float: right;
    margin-left: 1em;
    border-radius: 50%;
}