.container {
    width: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 40%;
    height: auto;
}

.paragrafo_left_right {
    text-align: center;
    padding: 1em;
    border: 1px solid #aaa;
}

.img_left {
    margin: auto;
    border-radius: 50%;

}

.container h3{
    width: 25vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin:0;
    resize: horizontal;
}

.container img{
    padding-bottom: 10px;
}
