.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #aaa;
    margin: 2em;
}
.segura{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.buttom{
    padding-right: 1em;
}

.img{
    float: left;
    margin-right: 3vh;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}
