.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 7vh;
    justify-content: center;
}




.img{
    float: left;
    margin-right: 3vh;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}
