.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo_left_right {
    text-align: justify;
    padding: 1em;
    border: 1px solid #aaa;
    margin: .5em 2em;
}

.img_left {
    margin: auto;
    border-radius: 50%;
}