.navbar  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #8C0333;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #D4B277;
}

.logo {
    width: 65px;
}